@page "/map"

<div class="d-flex">
  <div class="side-form">
    Embed form here.. <br> <a href="https://arcg.is/Pf9jX0">Link to form</a>
    @* Web form ID: 2479d72abc2349b6827457314aded6a3 *@
    @* Client ID: UovfyeQpmz7QeQz4 *@
    @* Client Secret: 6a14282ac7a04db5b2beb9d12b8e0d4b *@
    @* Temporary Token: RVuhfXmX7Ojb1EEMCqku0EeAc-xNqSM-nLmgsSWBUWd0ZeiyS9O0QiAJl-3OrfxoR-eYDo4rC_3HdxJKcjJTbxV7ZUm3odoRGPU_h37HhkgvPh-y_l-FDPJJRiIvkjs-6ADnVYJCD6-DEPQKyTAmGg.. *@
  </div>

  <div class="main-map d-flex justify-content-center align-items-center">
    <iframe width='100%' height='800px' src='https://uo-online.maps.arcgis.com/apps/View/index.html?appid=4fc8ab229fe249d3a169c70793d86258&fbclid=IwAR27mpKRbJVmg11JDYzkS5ozNgt3snGbJvhejgzZtBLv65o-g3bWUl2st4M&extent=-123.2204,43.9826,-122.8908,44.0983' frameborder='0' scrolling='no'></iframe>
  </div>
</div>
