@page "/resources"

<div class="main">
  <header>
    <h1>Shelters</h1>
  </header>
  
  <div class="card shelter-card">
    <div class="card-body">
      <p>Bob Keefer Center</p>
      <p>Bob Keefer Center</p>
      <p>Address: 250 S 32 St, Springfield, OR 97478</p>
      <a href="#">Direction</a>
    </div>
  </div>
</div>