@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4 main-nav">
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="../images/FireRefuge_Logo.png" alt="Fire refuge logo"> Fire Refuge
            </a>
            <div class="d-flex">
                <a href="resources" class="ml-md-auto mr-4">Resources</a>
                <a href="map" class="ml-md-auto mr-4">Map</a>
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
